<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>homepage</title>
  <%- include('./layout/head') %>
</head>

<body>
  <header>
    <%- include('./layout/header') %>
  </header>
  <main>

    <div id="searchBar">
      <form action="/results" method="post">
        <input type="text" name="query" value="search for titles" size="50">
        <button type="submit">Search!</button>
      </form>
    </div>

    <h2>Popular Games</h2>

    <div class="popularGames">
      <% obj.popularArray.forEach(item => { %>
      <div class="gameBox">
        <form action='/results' method='post'>
          <h3><%= item.title %></h3>
          <!-- <img id="gamePicture" src="<%= item.thumbnail %>"> -->
          <input type="hidden" name="query" value="<%= item.title%>">
          <input type="image" src="<%= item.thumbnail%>" />
        </form>
      </div>
      <% }) %>
    </div>

    <h2>Favorites</h2>

    <div class="gameContainer">
      <% obj.gamesArray.forEach(games => { %>
      <div class="gameBox">

        <h3><%= games.title %></h3>
        <img id="gamePicture" src="<%= games.thumbnail %>">
        <p>STEAM: <%= games.game_rating %><br />
          RATING: <%= games.deal_rating %><br />
          STORE: <%= games.store_id %><br />
          NORMAL PRICE <%= games.normal_price %><br />
          SALE PRICE <%= games.sale_price %></p>
      </div>
      <% }) %>
    </div>

  </main>
  <footer><%- include('./layout/footer') %></footer>
</body>

</html>