
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('./layout/head') %>
</head>
<body>
  <header>
    <%- include('./layout/header') %>
  </header>
  <main>
    <form action="/results" method="post">
      <input type="text" name="query" value="search for titles">
      <button type="submit">Search!</button>
    </form>
    <% obj.popularArray.forEach(item => { %>
    <form action='/results' method='post'>
        <h2><%= item.title %></h2>
        <!-- <img id="gamePicture" src="<%= item.thumbnail %>"> -->
        <input type="hidden" name="query" value="<%= item.title%>">
        <input type="image" src="<%= item.thumbnail%>"/>
    </form>
    <% }) %>
        
    <% obj.gamesArray.forEach(games => { %>
      <h2><%= games.title %></h2>
      <img id="gamePicture" src="<%= games.thumbnail %>">
        <p>STEAM: <%= games.game_rating %><br />
          RATING: <%= games.deal_rating %><br />
          STORE: <%= games.store_id %></p>
    <% }) %>
  </main>
  <footer><%- include('./layout/footer') %></footer>
</body>
</html>