<!DOCTYPE HTML>
<html>

<head>
  <%- include('./layout/head') %>
</head>

<body>
  <header>
    <%- include('./layout/header') %>
  </header>

  <main>
    <div class="gameContainer">
      <% gamesArray.forEach(games => { %>
      <div class="gameBox">
        <h3><%= games.title %></h3>
        <img id="gamePicture" src="<%= games.thumbnail %>">
        <p>STEAM: <%= games.steamRating %><br />
          RATING: <%= games.dealRating %><br />
          STORE: <%= games.storeID %><br />
          NORMAL PRICE <%= games.normalPrice %><br />
          SALE PRICE <%= games.salePrice %></p>
        <form action="/add-game" method="post">
          <input type="hidden" name="title" value="<%=games.title %>">
          <input type="hidden" name="thumbnail" value="<%=games.thumbnail %>">
          <input type="hidden" name="steamRating" value="<%=games.steamRating %>">
          <input type="hidden" name="dealRating" value="<%=games.dealRating %>">
          <input type="hidden" name="storeID" value="<%=games.storeID %>">
          <input type="hidden" name="normalPrice" value="<%=games.normalPrice %>">
          <input type="hidden" name="salePrice" value="<%=games.salePrice %>">
          <button>Add to Favorites</button>
        </form>
      </div>
      <% }) %>
    </div>
  </main>
</body>

</html>